# 2.3 Python Language Basics

## Attributes and methods
Objects in Python typically have both attributes (other Python objects stored "inside" the object) <br> 
and methods (functions associated with an object that can have access to the object's internal data). <br> 
Both of them are accesssed via the syntax _obj.attribute_name_

## Duck typing

In [1]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: #the object is not iterable
        return False

In [2]:
isiterable('a string')

True

In [3]:
isiterable([1,2,3])

True

In [4]:
isiterable(5)

False

This technique is fairly helpful, when functions accept multiple kinds of input. <br> 
Checking if something is of certain kind and else convert it be of such type.

In [5]:
x = None
if not isinstance(x, list) and isiterable(x):
    x = list(x)

| Operation     | Description                                                                                      |
|---------------|--------------------------------------------------------------------------------------------------|
| a + b         | Add a and b                                                                                      |
| a - b         | Subtract b from a                                                                                |
| a * b         | Multiply a by b                                                                                  |
| a / b         | Divide a by b                                                                                    |
| a // b        | Floor-divide a by b                                                                              |
| a ** b        | Raise a to the b power                                                                           |
| a & b         | True if both a and b are True; for integers, take the bitwise AND                                |
| a \| b        | True if either a or b is True; for integers, take the bitwise OR                                 |
| a ^ b         | For booleans, True if a or b is True, but not both;  for integers, take the bitwise EXCLUSIVE-OR |
| a == b        | True if a equals b                                                                               |
| a != b        | True if a is not equal to b                                                                      |
| a < b, a <= b | True if a is less than (less than or equal) to b                                                 |
| a > b, a >= b | True if a is greater than (greater than or equal) to b                                           |
| a is b        | True if a and b reference the same Python object                                                 |
| a is not b    | True if a and b reference different Python object                                                |

### Escape character
used to specify special characters like newline \n or Unicode Characters.

In [6]:
s = '12\\34'
print(s)

12\34

### String templating/formatting

In [7]:
template = '{0:.2f} {1:s} are worth US${2:d}'
# where {0:.2f} means to format as a floatin-point number with two decimals
# {1:s} means to format as a string
# {2:d} means to format as an exact integer

In [8]:
template.format(4.5560, 'Argentine Persos', 1)

'4.56 Argentine Persos are worth US$1'

### Dates and times
built-in **datetime** module provieds **datetime**, **date**, and **time** types.

In [9]:
from datetime import datetime, date, time

In [10]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [11]:
dt.day, dt.minute

(29, 30)

In [12]:
dt.date()

datetime.date(2011, 10, 29)

In [13]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [14]:
dt.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [15]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [16]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [17]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)